@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(input.theme-controller[value="nord"]:checked) {
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--b0: 0.951276 0.007445 260.731539;
	--b1: 0.932996 0.010389 261.788485;
	--b2: 0.899258 0.016374 262.749256;
	--b3: 0.859258 0.021374 263.749256;
	--bc: 0.324374 0.022945 264.182036;
}
.join.join-vertical > :where(*:not(:first-child)) {
	margin-top: -2px;
}
